DEBUG=True

# DB (actually only DATABASE_URL is used)
DATABASE_URL=postgres://postgres:postgres@localhost:5432/djboiler

# other values
SECRET_KEY=QETUADGJZCBM313171r2824@T@$IT@J$TGFJJTjfg433ty4526
ALLOWED_HOSTS=localhost, 127.0.0.1
USE_X_FORWARDED_HOST=True
